/* Reset básico para garantir consistência entre navegadores */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos gerais do body */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f9f5ee;
  text-align: center;
}

/* Estilização do Header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
  text-align: center;
  background-color: #5a3d2b;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilização da navegação */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active {
  background: #3c271b;
  color: #f9f5ee;
}

/* Conteúdo Principal */
main {
  width: 100%;
  flex: 1; /* Faz o main ocupar todo o espaço restante */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Seção de informações do animal */
.animal-info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  padding-top: 40px; /* Evita sobreposição com o header */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.animal-info img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.animal-info img:hover {
  transform: scale(1.05);
}

.animal-info p {
  font-size: 18px;
  color: #333;
}

/* Botão "Saiba Mais" */
.wiki-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5a3d2b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.wiki-btn:hover {
  background-color: #3c271b;
}

/* Estilização do Rodapé */
footer {
  width: 100%;
  padding: 10px;
  background-color: #5a3d2b;
  color: white;
  text-align: center;
  margin-top: auto;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    gap: 15px;
  }

  main {
    position: relative;
    padding-top: 80px; /* Evita sobreposição com o header */
  }
  .animal-info {
    width: 90%;
    padding: 15px;
  }
}
